.h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    border: 2px solid red;

}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    box-sizing: border-box;
  }

.row {
    padding: 10px;
    margin-bottom: 10px; 
    width: 100%;
    z-index: 1;

}

.box {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid blue;
    z-index: 2;
    flex: 100%;
}

.left-column {
    flex-basis: 66.66%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.right-column {
    flex-basis: 33.33%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-left: 2px;
}

.right-row {
    margin-bottom: 20px;
}

.input-box {
    width: 600px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .button {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .button:hover {
    cursor: pointer;
    background-color: #0069d9;
  }