<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chess Project</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
	<h1 class="h1">Chess Program</h1>
	<div class="container">

		<div class="inner-container">
			<div class="row">
				<div class="box">
					<form action="/" method="POST">
						<input class="input-box" type="text" name="input-field" placeholder="enter your move here">
						<button class="button" name="player-button" type="submit">Player</button>
						<button class="button" name="stockfish-button" type="submit">Stockfish</button>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="box">
					<div class="left-column">
						<img src="../static/images/board.svg" alt="Image description" width="600" height="600">
					</div>
					<div class="right-column">
						<div class="right-row">
							<p>This is the top row of the right column.</p>
						</div>
						<div class="right-row">
							<p>This is the middle row of the right column.</p>
						</div>
						<div class="right-row">
							<p>This is the bottom row of the right column.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>